<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="headerfiles(title)">
	<meta charset="UTF-8" />
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title th:text="${title}"></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link rel="preconnect" href="https://fonts.gstatic.com"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cairo&display=swap">
</head>
<body>	
	<header th:fragment="intestazione">
		<a href="/">
			<div id="header-title">
				<img class="w-20" src="/images/header_icon.png"/>
			    <h3 th:text="#{museo}"></h3>
			</div>
		</a>	    
	    <nav>
	    	<ul>
	    		<li>
		    		<a href="/artisti" th:text="#{artisti}">Artisti</a>
		    	</li>
		    	<li>
			    	<a href="/collezioni" th:text="#{collezioni}">Collezioni</a>
		    	</li>
		    	<!--li>
		    		<a href="#" th:text="#{informazioni}">Informazioni</a>
		    	</li-->
	    	</ul>
	    </nav>    
	    <nav>
	    	<ul>
	    		<li>
		    		<a sec:authorize="hasAuthority('ADMIN')" href="/private/addOpera" th:text="#{opera.nuova}">Nuova Opera</a>
		    	</li>
		    	<li>
			    	<a sec:authorize="hasAuthority('ADMIN')" href="/private/addCollezione" th:text="#{collezione.nuova}">Collezioni</a>
		    	</li>
		    	<li>
			    	<a sec:authorize="hasAuthority('ADMIN')" href="/private/addArtista" th:text="#{artista.nuovo}">Collezioni</a>
		    	</li>
		    	<li>
		    		<a th:href="@{/utenti}" sec:authorize="hasAuthority('ADMIN')" th:text="#{pageTitle.utenti}">Utenti in attesa</a>
		    	</li>
		    	<li>
		    		<form th:action="@{/logout}" sec:authorize="!isAnonymous()" method="POST" style="display: inline;"> <a class="logout"><button class="">Logout</button></a></form>
		    	</li>
		    	<li>
		    		<a th:href="@{/signup}" sec:authorize="isAnonymous()">Signup</a>
		    	</li>
		    	<li>
		    		<a th:href="@{/login}" sec:authorize="isAnonymous()">Login</a>
		    	</li>
	    	</ul>
	    </nav>    	
	</header>
	
	<footer th:fragment="fondo" class="footer">
		
		<div class="row">
			<div class="col">
				<img src="/images/header_icon.png" class="w-40">
			</div>
			<div class="col">
				<h2 th:text="#{museo}">Museo di Vattelapesca</h2>
				<hr>
				<i class="fa fa-home"></i><span> <b th:text="#{indirizzo}">Indirizzo: </b> Via della stazione, 16 Roma (RM)</span><br>
				<i class="fa fa-envelope-o"></i><span> <b>Email </b> <a href="mailto::andate@via.org">info@international-museum.edu</a></span><br>
				<i class="fa fa-phone"></i><span> <b th:text="#{telefono}">Telefono: </b> 800 1090656</span><br>
			</div>
			<div class="col">
				<h2>Policies</h2>
				<hr>
				<i class="fa fa-file"></i><span> <a href="#">Cookie Policy</a></span><br>
				<i class="fa fa-user-secret"></i><span> <a href="#">Privacy Policy</a></span><br>
				<i class="fa fa-user-secret"></i><span> <a href="#">Museum Policy</a></span><br>
			</div>
		</div>
	</footer>
</body>
</html>