<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<h1 th:text="#{artista.nuovo}"></h1>
    	</div>
    	<hr>
    	<form th:object="${artista}" th:action="@{/artista}" method="POST">
	    	<div class="row">
		    	<div class="col w-60 flex-start-self br">
		    		<h2 th:text="#{artista.informazioni}"></h2>
		    		<div class="row">
		    			<div class="col">
				    		<label for="nome" th:text="#{nome}"></label>
							<input type="text" class="m-5" id="nome" th:placeholder="#{artista.nome}" th:field="*{nome}" />
							<span th:if="${#fields.hasErrors('nome')}" class="errors" th:errors="*{nome}"></span>
		    			</div>
		    			<div class="col">
				    		<label for="cognome" th:text="#{cognome}"></label>
							<input type="text" class="m-5" id="cognome" th:placeholder="#{artista.cognome}" th:field="*{cognome}" />
							<span th:if="${#fields.hasErrors('cognome')}" class="errors" th:errors="*{cognome}"></span>
		    			</div>
		    		</div>
		    		<label for="descrizione" th:text="#{descrizione}">Descrizione</label>
					<textarea id="descrizione" class="m-5 w-60" th:placeholder="#{artista.descrizione}" th:field="*{descrizione}"></textarea>
					<span th:if="${#fields.hasErrors('descrizione')}" class="errors" th:errors="*{descrizione}"></span>
		    		<label for="nazionalita" th:text="#{nazionalita}"></label>
					<input type="text" class="m-5" id="nazionalita" th:placeholder="#{artista.nazionalita}" th:field="*{nazionalita}" />
					<span th:if="${#fields.hasErrors('nazionalita')}" class="errors" th:errors="*{nazionalita}"></span>
		    		<div class="row">
		    			<div class="col">
				    		<label for="dataDiNascita" th:text="#{dataNascita}"></label>
							<input type="date" class="m-5" id="dataDiNascita" th:placeholder="#{artista.dataDiNascita}" maxlength="4" th:field="*{dataDiNascita}" />
							<span th:if="${#fields.hasErrors('dataDiNascita')}" class="errors" th:errors="*{dataDiNascita}"></span>
							<label for="luogoDiNascita" th:text="#{luogoNascita}"></label>
							<input type="text" class="m-5" id="luogoDiNascita" th:placeholder="#{artista.luogoDiNascita}" th:field="*{luogoDiNascita}" />
							<span th:if="${#fields.hasErrors('luogoDiNascita')}" class="errors" th:errors="*{luogoDiNascita}"></span>
		    			</div>
		    			<div class="col">
				    		<label for="dataDiMorte" th:text="#{dataMorte}"></label>
							<input type="date" class="m-5" id="dataDiMorte" th:placeholder="#{artista.dataDiMorte}" maxlength="4" th:field="*{dataDiMorte}" />
				    		<label for="nome" th:text="#{luogoMorte}"></label>
							<input type="text" class="m-5" id="luogoDiMorte" th:placeholder="#{artista.luogoDiMorte}" th:field="*{luogoDiMorte}" />
		    			</div>
		    		</div>
		    	</div>
		    	<div class="col w-40">
		    		<img src="/images/donna_parasole.jpg">
		    	</div>
	    	</div>
	    	<div class="row">
	    		<button th:text="#{conferma}"></button>
	    	</div>
    	</form>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>