<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
	    	<div class="col w-100">
	    		<h1 th:text="|${artista.nome} ${artista.cognome}|">John Doe</h1> 
	    		<span><span th:if="${artista.dataDiMorte} != null" th:text="|(${artista.dataDiNascita} ${artista.luogoDiNascita} - ${artista.dataDiMorte} ${artista.luogoDiMorte})|">(1902 Roma - 1967 Washington)</span> <span th:unless="${artista.dataDiMorte} != null" th:text="|(${artista.dataDiNascita} ${artista.luogoDiNascita})|">(1902 Roma - 1967 Washington)</span> <span th:text="${artista.nazionalita}">Italia</span></span>
	    		<p class="text-center" th:text="${artista.descrizione}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    	</div>
    	</div>
    	<div th:each="opera: ${artista.opere}">
	    	<form th:action="@{/opera/elimina}" method="POST">
		    	<div class="row">
		    		<div class="col">
		    			<a th:href="@{|/opera/${opera.id}|}"><h1 th:text="${opera.titolo}">Titolo opera</h1></a>
			    		<button sec:authorize="hasAuthority('ADMIN')" th:text="#{elimina}">Elimina</button>
		    		</div>
		    		<div class="col">
			    		<img th:src="${opera.immagine}" class="w-100"/>
		    			<input hidden name="callback" id="callback" value="artista"/>
		    			<input hidden name="id" id="id" th:value="${opera.id}"/>
		    		</div>
		    	</div>
	    	</form>
    	</div>
    	<div th:if="${artista.opere.size() == 0}" class="row">
    		<div class="col w-100">
	    		<h3 th:text="#{opera.nessuna}">Nessuna opera inserita</h3>
    		</div>
    	</div>
		<form th:action="@{/artista/elimina}" method="POST">
			<input hidden name="id" id="id" th:value="${artista.id}"/>
    		<button style="margin-right: 0px; margin-left:90%;" sec:authorize="hasAuthority('ADMIN')" th:text="#{artista.elimina}">Elimina artista</button>			    	
		</form>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>