<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
  	<div id="flex-container">
    	<div class="row">
    		<div class="col w-100">
    			<h1 th:text="#{pageTitle.artisti}">Artisti nel Museo</h1>
    		</div>
    		<hr />
    	</div>
    	<div >
	    	<div class="row">
		    	<div class="col" th:each="artista : ${artisti}">
		    		<a th:href="@{|/artista/${artista.id}|}"><h1 th:text="|${artista.nome} ${artista.cognome}|">Nome Cognome</h1></a>
		    		<span th:if="${artista.dataDiMorte} != null" th:text="|(${artista.dataDiNascita} ${artista.luogoDiNascita} - ${artista.dataDiMorte} ${artista.luogoDiMorte})|" class="f-20">1968 - Tokyo</span>
    				<span th:unless="${artista.dataDiMorte} != null" th:text="|(${artista.dataDiNascita} ${artista.luogoDiNascita})|" class="f-20">1968 - Tokyo</span>
    				<hr>
		    	</div>
	    	</div>
    	</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>