<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<div class="col w-100">
    			<h1 th:text="#{pageTitle.collezioni}">Collezioni nel Museo</h1>
    		</div>
    		<hr />
    	</div>
    	<div>
	    	<div class="row">
		    	<div th:if="${collezioni}" class="col" th:each="collezione : ${collezioni}">
		    		<a th:href="@{|/collezione/${collezione.id}|}"><h1 th:text="${collezione.nome}">Nome Cognome</h1></a>
		    		<p><span><span th:text="|#{collezione.curataDa}: |">Curata da: </span><span th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|" class="f-20">1968 - Tokyo</span></span></p>
		    		<p th:text="${collezione.descrizione}"></p>
    				<hr>
		    	</div>
		    	<div th:if="${collezioni.size() == 0}" class="col w-100">
		    		<h3 th:text="#{collezione.nessuna}">Nessuna collezione inserita</h3>
    			</div>
	    	</div>
    	</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>