<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<div class="col w-100">
    			<h1 th:text="${collezione.nome}">Collezione Giappone</h1>
    			<span th:text="#{collezione.curataDa}">Curata da </span><span><h3 class="inline" th:text="|${collezione.curatore.nome} ${collezione.curatore.cognome}|">Luca Ridolfi</h3></span>
    			<p th:text="${collezione.descrizione}"></p>
    		</div>
    	</div>
    	<hr>
    	<div th:each="opera : ${collezione.opere}">
    		<form th:action="@{/opera/elimina}" method="POST">
		    	<div class="row">
		    		<div class="col w-60">
		    			<img th:src="${opera.immagine}" class="w-100"/>
		    		</div>
			    	<div class="col w-40">
			    		<a th:href="@{|/opera/${opera.id}|}"><h1 th:text="${opera.titolo}">Onda di Kanagawa</h1></a>
			    		<span class="f-20" th:text="${opera.anno}">1968</span>
			    		<a th:href="@{|/artista/${opera.artista.id}|}"><h3 th:text="|${opera.artista.nome} ${opera.artista.cognome}|">Fikayo Murasaki</h3></a>
		    			<input hidden name="callback" id="callback" value="collezione"/>
		    			<input hidden name="id" id="id" th:value="${opera.id}"/>
			    		<button sec:authorize="hasAuthority('ADMIN')" th:text="#{elimina}">Elimina</button>
			    	</div>
		    	</div>
    		</form>
	    	<hr>
    	</div>
    	<div th:if="${collezione.opere.size() == 0}">
    		<div class="row">
    			<div class="col w-100">
    				<h3 th:text="#{opera.nessuna}">Nessuna opera in questa collezione</h3>
    			</div>
    		</div>
    	</div>
		<form th:action="@{/collezione/elimina}" method="POST">
			<input hidden name="id" id="id" th:value="${collezione.id}"/>
    		<button style="margin-right: 0px; margin-left:90%;" sec:authorize="hasAuthority('ADMIN')" th:text="#{collezione.elimina}">Elimina collezione</button>			    	
		</form>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>