<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<h1 th:text="#{collezione.nuova}"></h1>
    	</div>
    	<hr>
    	<form th:object="${collezione}" th:action="@{/collezione}" method="POST">
	    	<div class="row">
		    	<div class="col w-60 flex-start-self br">
		    		<h2 th:text="#{collezione.informazioni}"></h2>
		    		<label for="nome" th:text="#{nome}">Nome</label>
					<input type="text" class="m-5" id="nome" th:placeholder="#{collezione.nome}" th:field="*{nome}" />
					<span th:if="${#fields.hasErrors('nome')}" class="errors" th:errors="*{nome}"></span>
		    		<label for="descrizione" th:text="#{descrizione}">Descrizione</label>
					<textarea id="descrizione" class="m-5 w-60" th:placeholder="#{collezione.descrizione}" th:field="*{descrizione}"></textarea>
					<span th:if="${#fields.hasErrors('descrizione')}" class="errors" th:errors="*{descrizione}"></span>
		    		<label for="curatore" th:text="#{curatore}">Curatore</label>
		    		<select id="curatore"  class="m-5 w-40" th:field="*{curatore}">
						<option th:each="dipendente : ${dipendenti}" th:value="${dipendente.matricola}" th:text="|${dipendente.nome} ${dipendente.cognome}|"></option>
					</select>
		    	</div>
		    	<div class="col w-40 flex-start-self text-center">
		    		<h2 th:text="#{collezione.popolare}"></h2>
		    		<p th:text="#{collezione.popolare.step1}"></p>
		    		<p th:text="#{collezione.popolare.step2}"></p>
		    		<p th:text="#{collezione.popolare.step3}"></p>
		    	</div>
	    	</div>
	    	<div class="row">
	    		<button th:text="#{conferma}"></button>
	    	</div>
    	</form>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>