<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
  <body>
  	<div th:if="${isAdmin}">
  		<header  th:replace="fragments/base.html :: intestazione"></header>
  	</div>
  	<div th:unless="${isAdmin}">
  		<header th:replace="fragments/base.html :: intestazione"></header>
  	</div>
    <main role="main">
		<div id="flex-container">
			<div class="row">
				<div class="col">
					<h3>Immagine</h3>
					<img src="/images/opera1.jpg" alt="...">	
					<p>Descrizione</p>
				</div>
				<div class="col">
					<h3>Immagine</h3>
					<img src="/images/opera2.jpeg" alt="...">	
					<p>Descrizione</p>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<h3>Immagine</h3>
					<img src="/images/opera3.jpg" alt="...">	
					<p th:text="${isAdmin}">Descrizione</p>
				</div>
				<div class="col">
					<h3>Immagine</h3>
					<img src="/images/opera4.jpg" alt="...">	
					<p>Descrizione</p>
				</div>
			</div>
		</div>
    </main>
  	<footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>
