<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
  <body>
	<header  th:replace="fragments/base.html :: intestazione"></header>
    <main role="main">
		<div id="flex-container">
			<div class="row">
				<div th:each="opera : ${opere}" class="col">
					<a th:href="@{|/opera/${opera.id}|}"><h3 th:text="${opera.titolo}">Immagine</h3></a>
					<img th:src="${opera.immagine}" alt="...">	
					<a th:href="@{|/artista/${opera.artista.id}|}"><h5 th:text="|${opera.artista.nome} ${opera.artista.cognome}|">Immagine</h5></a>
					<p th:text="${opera.descrizione}">Descrizione</p>
				</div>
			</div>
		</div>
    </main>
  	<footer th:replace="fragments/base.html :: fondo"></footer>
  </body>
</html>
