<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<img th:src="${opera.immagine}" class="w-100"/>
    	</div>
    	<div class="row">
    		<form th:action="@{/opera/elimina}" method="POST">
		    	<div class="col w-100">
		    		<h1 th:text="${opera.titolo}">Onda di Kanagawa</h1>
		    		<a th:href="@{|/artista/${opera.artista.id}|}"><p th:text="|${opera.artista.nome} ${opera.artista.cognome}|" class="f-20">Fikayo Murasaki</p></a>
		    		<span class="f-20" th:text="${opera.anno}">1968</span>
		    		<p class="text-center w-100" th:text="${opera.descrizione}">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	    			<input hidden name="callback" id="callback" value="artista"/>
		    		<input hidden name="id" id="id" th:value="${opera.id}"/>
			    	<button sec:authorize="hasAuthority('ADMIN')" class="center" th:text="#{elimina}">Elimina</button>
	    		</div>
	    	</form>
    	</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>