<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<h1 th:text="#{opera.nuova}"></h1>
    	</div>
    	<hr>
    	<form th:object="${opera}" th:action="@{/opera/inserisci}" enctype="multipart/form-data"  method="POST">
    	<div class="row">
	    		<div class="col flex-start-self">
		    		<h2 th:text="#{immagine}"></h2>
		    		<label for="file" class="button m-5" th:text="#{immagine.seleziona}">
					</label>
		    		<input type="file" name="file" id="file"/>
		    	</div>
		    	<div class="col bl br flex-start-self">
	    			<h2 th:text="#{opera.informazioni}"></h2>
					<input type="text" class="m-5" id="titolo" th:placeholder="#{opera.titolo}" th:field="*{titolo}" />
					<span th:if="${#fields.hasErrors('titolo')}" class="errors" th:errors="*{titolo}"></span>
					<input type="text" class="m-5" id="anno" maxlength="8" th:placeholder="#{opera.anno}" th:field="*{anno}" />
					<span th:if="${#fields.hasErrors('anno')}" class="errors" th:errors="*{anno}"></span>
					<textarea maxlength="255" id="descrizione" class="m-5 w-60" th:placeholder="#{opera.descrizione}" th:field="*{descrizione}"></textarea>
					<span th:if="${#fields.hasErrors('descrizione')}" class="errors" th:errors="*{descrizione}"></span>
		    		<label for="artista" th:text="#{artista}"></label>
		    		<select id="artista" class="m-5 w-40" th:field="*{artista}">
						<option th:each="artista : ${artisti}" th:value="${artista.id}" th:text="|${artista.nome} ${artista.cognome}|"></option>
					</select>
		    	</div>
		    	<div class="col flex-start-self">
	    			<h2 th:text="#{collezione}"></h2>
		    		<label for="collezione" th:text="#{collezione}"></label>
					<select id="collezione"  class="m-5 w-40" th:field="*{collezione}">
						<option th:each="collezione : ${collezioni}" th:value="${collezione.id}" th:text="${collezione.nome}"></option>
					</select>
		    	</div>
    		</div>
	    	<div class="row">
	    		<div class="col w-100 align-end">
	    			<button th:text="#{avanti}"></button>
	    		</div>
	    	</div>
    	</form>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>