<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<h1>Signup</h1>
    	</div>
    	<hr>
    	<form th:action="@{/signup}" method="POST">
	    	<div class="row">
		    	<div class="col w-60 flex-start-self br">
		    		<div class="row">
		    			<div class="col">
				    		<label for="nome" th:text="#{nome}"></label>
							<input type="text" class="m-5" id="nome" th:placeholder="#{nome}" th:field="*{dipendente.nome}" />
							<span th:if="${#fields.hasErrors('dipendente.nome')}" class="errors" th:errors="*{dipendente.nome}"></span>
		    			</div>
		    			<div class="col">
				    		<label for="cognome" th:text="#{cognome}"></label>
							<input type="text" class="m-5" id="cognome" th:placeholder="#{cognome}" th:field="*{dipendente.cognome}" />
							<span th:if="${#fields.hasErrors('dipendente.cognome')}" class="errors" th:errors="*{dipendente.cognome}"></span>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">
				    		<label for="email">email</label>
							<input type="email" class="m-5" id="email" placeholder="email" th:field="*{dipendente.email}" />
							<span th:if="${#fields.hasErrors('dipendente.email')}" class="errors" th:errors="*{dipendente.email}"></span>
		    			</div>
		    			<div class="col">
							<label for="telefono" th:text="#{telefono}"></label>
							<input type="text" class="m-5" id="telefono" th:placeholder="#{telefono}" th:field="*{dipendente.telefono}" />
							<span th:if="${#fields.hasErrors('dipendente.telefono')}" class="errors" th:errors="*{dipendente.telefono}"></span>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">
				    		<label for="dataDiNascita" th:text="#{dataNascita}"></label>
							<input type="date" class="m-5" id="dataDiNascita" th:placeholder="#{dataNascita}" maxlength="4" th:field="*{dipendente.dataDiNascita}" />
							<span th:if="${#fields.hasErrors('dipendente.dataDiNascita')}" class="errors" th:errors="*{dipendente.dataDiNascita}"></span>
		    			</div>
		    			<div class="col">
							<label for="luogoDiNascita" th:text="#{luogoNascita}"></label>
							<input type="text" class="m-5" id="luogoDiNascita" th:placeholder="#{luogoNascita}" th:field="*{dipendente.luogoDiNascita}" />
							<span th:if="${#fields.hasErrors('dipendente.luogoDiNascita')}" class="errors" th:errors="*{dipendente.luogoDiNascita}"></span>
		    			</div>
		    		</div>
		    		<div class="row">
		    			<div class="col">
				    		<label for="username">Username</label>
							<input type="text" class="m-5" id="username" placeholder="Username" th:field="*{credenziali.username}" />
							<span th:if="${#fields.hasErrors('credenziali.username')}" class="errors" th:errors="*{credenziali.username}"></span>
		    			</div>
		    			<div class="col">
							<label for="password">Password</label>
							<input type="password" class="m-5" id="password" placeholder="password" th:field="*{credenziali.password}" />
							<span th:if="${#fields.hasErrors('credenziali.password')}" class="errors" th:errors="*{credenziali.password}"></span>
		    			</div>
		    		</div>
		    	</div>
		    	<div class="col w-40">
		    		<img src="/images/verticale.jpg">
		    	</div>
	    	</div>
	    	<div class="row">
	    		<button th:text="#{conferma}"></button>
	    	</div>
    	</form>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>
