<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title=#{pageTitle.museo})"> </head>
<body>
  	<header th:replace="fragments/base.html :: intestazione"></header>
    <div id="flex-container">
    	<div class="row">
    		<div class="col w-100">
    			<h1 th:text="#{pageTitle.utenti}">Utenti da confermare</h1>
    		</div>
    		<hr />
    	</div>
    	<div>
	    	<div th:if="${utenti}" th:each="credenziali : ${utenti}">
	    		<form th:action="@{/utenti}" method="POST">
	    			<span><h3 th:text="|${credenziali.dipendente.nome} ${credenziali.dipendente.cognome} - (${credenziali.username})|">Nome Cognome</h3>
	    			<span th:text="|${credenziali.dipendente.dataDiNascita} - ${credenziali.dipendente.luogoDiNascita}|" class="f-20"></span>
	    			<br>
	    			<span th:text="|${credenziali.dipendente.telefono} - ${credenziali.dipendente.email}|" class="f-20"></span>
	    			<br>
	    			<input hidden type="text" id="username" name="username" th:value="${credenziali.username}"/>
	    			<br>
	    			<button th:text="#{admin}">Rendi ADMIN</button>
	    		</form>
	    	</div>
	    	<div th:if="${utenti.size() == 0}" class="col w-100">
	    		<h3 th:text="#{utenti.nessuno}">Nessun utente in attesa</h3>
			</div>
    	</div>
    </div>
    <footer th:replace="fragments/base.html :: fondo"></footer>
</body>
</html>