
body{
    font-family: Calibri;
    margin: 0px;
}

header{
    background-color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    padding: 5px 10px 5px 10px;
    border-bottom: 1px solid darkgray;
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    align-self: center;
    display: flex;
    justify-content: space-between;
}

nav li{
    display:inline-block;
    margin: 0px 5px;
}

a{
    color: black;
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    color: darkgray;
}

#header-title{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

#header-title > h3 {
    align-self: center;
    color: black;
}

#header-title > img{
    max-height: 30px;
    width: auto;
    margin: 4px;
    align-self: center;
}

section{
    margin: 10px;
}

#flex-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    max-width: 80%;
    margin: 100px auto 20px auto;
}

.row{
    margin: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
}

.col{
    /*#flex-grow: 1;*/
    /*flex-shrink: 0;*/
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 47%;
    min-width: 30%;
}

.col>img{
    max-width: 80%;
}

form{
	box-sizing: border-box;
}

button{
	background-color: indianred;
	padding: 5px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid darkgray;
	color: white;
}

.button{
	background-color: indianred;
	padding: 5px;
	font-size: 15px;
	border-radius: 5px;
	border: 1px solid darkgray;
}

input[type="file"] {
    display: none;
}

footer{
    border-top: 1px solid darkgray;
    background-color: gainsboro;
    margin: auto 0px 0px 0px;
    color: black;
    text-align: center;
}

.logout{
	color: indianred;
}

.logout > button{
	background-color: transparent;
	border: none;
	color: indianred;
}

.logout > button:hover{
	color: red;
}

hr{
	border-top: 1px solid lightgray;
	width: 100%;
}

select {
	padding: .6em 1.4em .5em .8em;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	margin: 0;
	border: 1px solid #aaa;
	border-radius: .5em;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	background-color: white;
}

select::-ms-expand {
	display: none;
}

select:hover {
	border-color: indianred;
}

.errors{
	color: red;
}

.w-20{
	width: 20%;
	max-width: 20% !important;
}

.w-40{
	width: 39%;
	max-width: 39% !important;
}

.w-60{
	width: 59%;
	max-width: 59% !important;
}

.w-100{
	width: 100%;
	max-width: 100% !important;
}

.inline{
	display: inline;
}

.text-center{
	text-align: center;	
}

.align-start{
	align-items: flex-start;
}

.align-end{
	align-items: flex-end;
}

.flex-start-self{
	align-self: flex-start;
}

.f-20{
	font-size: 20px;
}

.m-5{
	margin: 5px;
}

.br{
	border-right: 1px solid lightgray;
}

.bl{
	border-left: 1px solid lightgray;
}